<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="container">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <%- include('./partials/sidebar.ejs') %>
        <h1 class="heading center">Players List</h1>
        <div class="table-container">
        <table>
            <tr>
                <th>Sr No.</th>
                <th>Full Name</th>
                <th>Branch</th>
                <th>Semester</th>
                <th>Batsman</th>
                <th>Bowler</th>
                <th>Wicket Keeper</th>
                <th>Only Fielder</th>
                <th>Phone NO.</th>
                <th>Team</th>
            </tr>
            <% var x = (currentPage - 1) * pageSize + 1 %>
            <% data.forEach(function(players) { %>
                <tr>
                    <td><%= x++ %></td>
                    <!-- <td><a href="#" class="name-link"><%= players.fullname %></a></td> -->
                    <td><a href="/addteam?playerId=<%= players._id %>"><%= players.fullname %></a></td>
                    <td><%= players.branch %></td>
                    <td><%= players.semester %></td>
                    <td><%= players.batsman %></td>
                    <td><%= players.bowler %></td>
                    <td><%= players.wk %></td>
                    <td><%= players.other %></td>
                    <td><%= players.phone %></td>
                    <td><%= players.team %></td>
                </tr>
            <% }); %>
        </table>
        </div>
        <div class="pagination">
            <% if (currentPage > 1) { %>
              <a href="/aplayers?page=<%= currentPage - 1 %>&pageSize=<%= pageSize %>&username=cricketadmin@sportify&password=sportifyadmin">Previous</a>
            <% } %>
          
            <% for (let i = 1; i <= totalPages; i++) { %>
              <% if (i === currentPage) { %>
                <span class="current-page"><%= i %></span>
              <% } else { %>
                <a href="/aplayers?page=<%= i %>&pageSize=<%= pageSize %>&username=cricketadmin@sportify&password=sportifyadmin"><%= i %></a>
              <% } %>
            <% } %>
          
            <% if (currentPage < totalPages) { %>
              <a href="/aplayers?page=<%= currentPage + 1 %>&pageSize=<%= pageSize %>&username=cricketadmin@sportify&password=sportifyadmin">Next</a>
            <% } %>
          </div>
          
    </div>
    <%- include('./partials/footer.ejs') %>   
</body>
</html>