<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <div class="container player-page">
            <%- include('./partials/sidebar.ejs') %>

                <h1 class="heading">Players List</h1>
                <div class="table-container">
                    <table id="myTable">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Full Name</th>
                                <th>Branch</th>
                                <th>Semester</th>
                                <th>Batsman</th>
                                <th>Bowler</th>
                                <th>Wicket Keeper</th>
                                <th>Only Fielder</th>
                                <th>Phone NO.</th>
                                <th>Team</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var x=(currentPage - 1) * pageSize + 1 %>
                                <% if (currentPage> 1) {
                                    x = (currentPage - 1) * pageSize + 1;
                                    } %>
                                    <% data.forEach(function(players) { %>
                                        <tr>
                                            <td>
                                                <%= x++ %>
                                            </td>
                                            <td>
                                                <%= players.fullname %>
                                            </td>
                                            <td>
                                                <%= players.branch %>
                                            </td>
                                            <td>
                                                <%= players.semester %>
                                            </td>
                                            <td>
                                                <%= players.batsman %>
                                            </td>
                                            <td>
                                                <%= players.bowler %>
                                            </td>
                                            <td>
                                                <%= players.wk %>
                                            </td>
                                            <td>
                                                <%= players.other %>
                                            </td>
                                            <td>
                                                <%= players.phone %>
                                            </td>
                                            <td>
                                                <%= players.team %>
                                            </td>
                                        </tr>
                                        <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <% if (currentPage > 1) { %>
                        <a href="/players?page=<%= currentPage - 1 %>&pageSize=<%= pageSize %>">Previous</a>
                    <% } %>

                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <% if (i === currentPage) { %>
                            <span class="current-page"><%= i %></span>
                        <% } else { %>
                            <a href="/players?page=<%= i %>&pageSize=<%= pageSize %>"><%= i %></a>
                        <% } %>
                    <% } %>

                    <% if (currentPage < totalPages) { %>
                        <a href="/players?page=<%= currentPage + 1 %>&pageSize=<%= pageSize %>">Next</a>
                    <% } %>
                </div>

        </div>

    </body>
    <%- include('./partials/footer.ejs') %>

</html>