<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/style.css">
<body>
    <div class="container">

        <h1 class="heading center">Team 6</h1>
        <table>
            <tr>
                <th>Sr No.</th>
                <th>Full Name</th>
                <th>Branch</th>
                <th>Semester</th>
                <th>Batsman</th>
                <th>Bowler</th>
                <th>Wicket Keeper</th>
                <th>Only Fielder</th>
                <th>Phone NO.</th>
            </tr>
            <% var x = 1 %>
            <% players.forEach(function(players) { %>
                <tr>
                    <td><%= x++ %></td>
                    <td><%= players.fullname %></td>
                    <td><%= players.branch %></td>
                    <td><%= players.semester %></td>
                    <td><%= players.batsman %></td>
                    <td><%= players.bowler %></td>
                    <td><%= players.wk %></td>
                    <td><%= players.other %></td>
                    <td><%= players.phone %></td>
                </tr>
            <% }); %>
        </table>
    </div>
</body>
</html>